@page "/"

<PageTitle>Index</PageTitle>

<h1 style="color: red">Notice!</h1>
<h1 style="color: red">If you have just cloned this repo, you need to first add your own appsettings.json and connect to your own database. After that, follow the db migration steps in the tutorial.</h1>


